body{
    padding: 0;
    margin: 0;
}
.container{
    &__dashboard{
        background-color: #f5f5fd;
        margin-left: 3rem;
        width: 100%;
        padding: 2rem 0rem;
        @include responsive(tab-land) { // width < 1200?
            margin-left: 0rem;
        }
        &-header{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            padding: 1rem 8rem;
            margin: inherit;
            // @include responsive(tab-port) { // width < 900?
            //     // font-size: 50%; //1 rem = 8px, 8/16 = 50%
            //     padding: 1rem 4rem;
                
            // }
            @include responsive(tab-land) { // width < 1200?
                padding: 1rem 4rem;
            }
            // @include custom_media(1050) {
            //     @media screen and (max-width: (1050 / 16)*1em) { 
            //         padding: 1rem 4rem;
            //      };
            // }
            .title{
                @include responsive(tab-land) { // width < 1200?
                    margin-left: 2rem;
                }
                h1{
                    color: #483b79;
                    font-weight: 600;
                    padding-top: 1rem;
                }
                p{
                    color: #868686;
                    margin: 0;
                }
            }
            .inputs{
                display: flex;
                justify-content: flex-end;
                padding: 0.5rem 1rem;
                margin: 2rem 0;
                button{
                    background-color: #f8c419;
                    color: white;
                    padding: 1rem 1rem;
                    border-radius: 25px;
                    border: none;
                    cursor: pointer;
                    height: 1rem;
                    font-size: 1.2rem;
                    margin-right: 2rem;
                }
                .form-control-feedback {
                    position: absolute;
                    z-index: 2;
                    right: 43rem;
                    display: block;
                    /* width: 0.375rem; */
                    /* height: 60.375rem; */
                    line-height: 3rem;
                    text-align: center;
                    pointer-events: none;
                    @include responsive(tab-land) { // width < 1200?
                        right: 29rem;
                    }
                    @include responsive(tab-port) { // width < 900?
                        right: 24rem !important;
                    }
                    @include responsive(tab-port-1) { // width < 800?
                        right: 11rem;
                    }
                    @include responsive(tab-land-1) { // width < 1024?
                        right: 22rem;
                    }
                    @include responsive(big-desktop) { // width < 1800?
                        right: 45rem;
                    }
                }
                input{
                    border: none;
                    border-radius: 25px;
                    padding: 1rem;
                    margin-right: 2rem;
                    height: 1rem;
                    color: #dedede;
                    @include responsive(tab-port-1) { // width < 800?
                        width: 40%;
                    }
                }
            }
        }
        &-chart{
            padding: 0 8rem;
            margin: inherit;
            @include responsive(tab-port) { // width < 900?
                padding: 0 !important;
            }
            @include responsive(tab-land) { // width < 1200?
                padding: 0 4rem;
            }
            // @include responsive(tab-port-1) { // width < 1200?
            //     padding: 0 1rem 1rem 4rem;
            // }
            @include responsive(tab-land-1) { // width < 1024?
                padding: 0px 2rem;
            }

            .firstlineChart{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-auto-rows: 35rem;
                padding-bottom: 4rem;
                @include responsive(tab-land) { // width < 1200?
                    grid-auto-rows:31rem;
                }
                .barChart{
                    margin-right: 1rem;
                    width: 85%;
                    padding: 1rem 3rem 2rem 2rem;
                    @include responsive(tab-land) { // width < 1200?
                        margin-left: 3rem;
                        width: 80%;
                    }
                    @include responsive(tab-land-1) { // width < 1024?
                        margin-left: 5rem;
                    }
                    @include responsive(tab-port-1) { // width < 800?
                        margin-left: 2rem;
                        width: 85%;
                    }
                    .titre{
                        line-height: 1.7;
                    }
                }
                .circleBar{
                    width: 93%;
                    padding: 1rem 0 0rem 0rem;
                    .titre{
                        line-height: 1.7;
                    }
                    .labelCircle{
                        display: flex;
                        justify-content: space-between;
                        padding: 5rem 3rem 0;
                        @include responsive(tab-port) { // width < 1200?
                            padding: 2rem 3rem 0;
                        }
                        @include responsive(big-desktop) { 
                            padding: 3rem 3rem 0;
                        }
                        @include responsive(small-desktop) { 
                            padding: 3rem 3rem 0;
                        }
                        .livre{
                            display: flex;
                            .livreeSign{
                                border-radius: 50%;
                                width: 1rem;
                                height: 1rem;
                                background-color: #866fd9;
                            }
                            .labelTitle{
                                font-size: 1.2em;
                                padding-left: .5rem;
                            }
                        }

                        .retourne{
                            display: flex;
                            .retourneSign{
                                border-radius: 50%;
                                width: 1rem;
                                height: 1rem;
                                background-color: #f8c419;
                            }
                            .labelTitle{
                                font-size: 1.2em;
                                padding-left: .5rem;
                            }
                        }
                    }
                }
                .charts{
                    background-color: white;
                    border-radius: 10px;
                    // @include responsive(tab-port-1) { // width < 900?
                    //     position: relative;
                    // }
                    &:hover{
                        -webkit-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                        -moz-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                        box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                    }
                    // box-shadow: -3px 10px 12px -2px rgba(63,43,135,0.49);
                    h1{
                        color: #866fd9;
                        padding-left: 1.5em;
                    }
                    p{
                        color: #483b79;
                        padding-left: 1.5em;
                    }
                    .status{
                        color: #868686;
                        margin: 0;
                    }
                    #barChart{
                        width: 600px!important;
                        height: 235px!important;
                        margin: auto;
                        padding-top: 3rem;
                        // @include custom_media(1050) {
                        //     @media screen and (max-width: (1050 / 16)*1em) { 
                        //         height: 208px!important;
                        //      };
                        // }
                        @include responsive(tab-land) { // width < 1200?
                            height: 190px!important;
                        }
                        @include responsive(tab-land-1) { // width < 1024?
                            width: 512px!important
                        }
                        // @include responsive(tab-port) { // width < 1200?
                        //     height: 170px!important;
                        //     width: 521px!important;
                        // }
                        @include responsive(tab-port) { // width < 1200?
                            width: 430px!important;
                            height: 170px!important;
                        }
                        @include responsive(tab-port-1) { // width < 1200?
                            width: 416px!important;
                            height: 185px!important;
                        }
                    }
                    #circleChart{
                        // width: 195px!important;
                        // height: 110px!important;
                        padding-top: 3rem;
                        margin: auto;
                        @include responsive(tab-port-1) { // width < 1200?
                            width: 195px!important;
                            height: 110px!important;
                        }
                    }
                }
            }

            .secondLineChart{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .statistique {
                    background-color: white;
                    border-radius: 10px;
                    width: 100%;
                    @include responsive(tab-land) { // width < 1200?
                        margin-left: 3rem;
                    }
                    @include responsive(tab-land-1) { // width < 1024?
                        margin-left: 5rem;
                    }
                    @include responsive(tab-port-1) { // width < 800?
                        margin-left: 2rem;
                        padding: 1rem;
                    }
                    
                    // margin: 1em;
                    padding-bottom: 1em;
                    &:hover{
                        -webkit-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                        -moz-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                        box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                    }
                    div{
                        display: flex;
                        padding-top: 4rem;
                        @include custom_media(1050) {
                            @media screen and (max-width: (1050 / 16)*1em) { 
                                padding-top: 2rem;
                             };
                        }
                        svg{
                            width: 2rem;
                            padding-left: 1.5rem;
                            height: auto;
                        }
                        .link-text{
                            color: #eb3a59;
                            padding: 1rem .5rem;
                        }
                    }
                    .statistiquesTable{
                        width: 95%;
                        padding: auto;
                        margin: auto;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-width: 2px;
                        border-color: #f4f7fa;
                        border-style: solid;
                        color: #a2afbb;
                        font-size: larger;
                        @include responsive(tab-port-1) { // width < 800?
                            width: 100%;
                        }
                        td, th {
                            border-width: 2px;
                            border-color: #f4f7fa;
                            border-style: solid;
                            padding: 1em;
                            
                        }
                        .livre{
                            color: #92c898;
                        }
                        .Refuse{
                            color: red;
                        }
                        .Retourne{
                            color: red;
                        }
                        
                        thead {
                        background-color: #ffffff;
    
                        }
                    }
                }

                .Facture {
                    background-color: #f5f5fd;
                    border-radius: 10px;
                    width: 90%;
                    margin-top: 1em;
                    margin-left: 4em;
                    padding-bottom: 1em;
                    @include responsive(tab-land-1) { // width < 1024?
                        width: 84%;
                        margin-top: 1em;
                        margin-left: 6em;
                    }
                    .facturation{
                        &:hover{
                            -webkit-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                            -moz-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                            box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                        }
                    }
                    .newAnn{
                        line-height: 3;
                        @include responsive(tab-land) { // width < 1200?
                            line-height: 2;
                        }
                        &:hover{
                            -webkit-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                            -moz-box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                            box-shadow: 26px 22px 124px -40px rgba(63,43,135,0.1);
                        }
                        h1{
                            font-size: 1.6rem;
                            @include responsive(tab-port-1) { // width < 800?
                                font-size: 1.3rem;
                            }
                        }
                        p{
                            padding-bottom: 2rem;
                            font-size: 1.4rem;
                            // @include custom_media(1050) {
                            //     @media screen and (max-width: (1050 / 16)*1em) { 
                            //         padding-bottom: 1rem;
                            //         font-size: 1.2rem;
                            //      };
                            // }
                            @include responsive(tab-port-1) { // width < 800?
                                font-size: 1rem;
                            }
                        }
                    }
                    div{
                        background-color: white;
                        border-radius: 10px;
                        margin-bottom: 1em;
                        padding: 1em;
                    }
                    h1{
                        color: #483b79;
                    }
                    p{
                        color:#999999;
                    }
                    .facteurTable{
                        width: 95%;
                        padding: auto;
                        margin: auto;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-width: 2px;
                        border-color: #f4f7fa;
                        border-style: solid;
                        color: #a2afbb;
                        font-size: larger;
                        @include responsive(tab-port-1) { // width < 800?
                            width: 100%;
                        }
                        .firstLine{
                            background-color: #f3f7fa;
                        }
                        td, th {
                            border-width: 2px;
                            border-color: #f4f7fa;
                            border-style: solid;
                            padding: 1em
                        }
                        
                        thead {
                        background-color: #ffffff;
    
                        }
                    }
                }
            }
            
            
        }
    }
}