body{
    padding: 0;
    margin: 0;
}
.container{
    &__dashboard{
        background-color: #f5f5fd;
        margin-left: 3rem;
        width: 100%;
        padding: 2rem 0rem;
        &-header{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            padding: 1rem 8rem;
            margin: inherit;
            .title{
                h1{
                    color: #483b79;
                    font-weight: 600;
                    padding-top: 1rem;
                }
                p{
                    color: #868686;
                    margin: 0;
                }
            }
            .inputs{
                display: flex;
                justify-content: flex-end;
                padding: 0.5rem 1rem;
                button{
                    background-color: #f8c419;
                    color: white;
                    padding: 1rem 1rem;
                    border-radius: 10px;
                    margin: 2rem;
                    border: none;
                    cursor: pointer;
                    height: 1rem;
                }
                input{
                    border: none;
                    border-radius: 10px;
                    padding: 1rem;
                    margin: 2rem;
                    height: 1rem;
                }
            }
        }
        &-chart{
            padding: 0 8rem;
            margin: inherit;
            .firstlineChart{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-auto-rows: 35rem;
                padding-bottom: 4rem;
                .barChart{
                    margin-right: 1rem;
                    width: 85%;
                    padding: 1rem 3rem 2rem 2rem;
                    .titre{
                        line-height: 1.7;
                    }
                }
                .circleBar{
                    width: 93%;
                    padding: 1rem 0 0rem 0rem;
                    .titre{
                        line-height: 1.7;
                    }
                    .labelCircle{
                        display: flex;
                        justify-content: space-between;
                        padding: 2rem 3rem 0rem 3rem;
                        .livre{
                            display: flex;
                            .livreeSign{
                                border-radius: 50%;
                                width: 1rem;
                                height: 1rem;
                                background-color: #866fd9;
                            }
                            .labelTitle{
                                font-size: 1.2em;
                                padding-left: .5rem;
                            }
                        }

                        .retourne{
                            display: flex;
                            .retourneSign{
                                border-radius: 50%;
                                width: 1rem;
                                height: 1rem;
                                background-color: #f8c419;
                            }
                            .labelTitle{
                                font-size: 1.2em;
                                padding-left: .5rem;
                            }
                        }
                    }
                }
                .charts{
                    background-color: white;
                    border-radius: 10px;
                    // box-shadow: -3px 10px 12px -2px rgba(63,43,135,0.49);
                    h1{
                        color: #866fd9;
                        padding-left: 1.5em;
                    }
                    p{
                        color: #483b79;
                        padding-left: 1.5em;
                    }
                    .status{
                        color: #868686;
                        margin: 0;
                    }
                    #barChart{
                        width: 600px!important;
                        height: 235px!important;
                        margin: auto;
                        padding-top: 3rem;
                    }
                    #circleChart{
                        width: 350px!important;
                        height: 185px!important;
                        padding-top: 3rem;
                        margin: auto;
                    }
                }
            }

            .secondLineChart{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .statistique {
                    background-color: white;
                    border-radius: 10px;
                    width: 100%;
                    margin: 1em;
                    padding-bottom: 1em;
                    div{
                        display: flex;
                        padding-top: 4rem;
                        svg{
                            width: 2rem;
                            padding-left: 1.5rem;
                            height: auto;
                        }
                        .link-text{
                            color: #eb3a59;
                            padding: 1rem .5rem;
                        }
                    }
                    .statistiquesTable{
                        width: 95%;
                        padding: auto;
                        margin: auto;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-width: 2px;
                        border-color: #f4f7fa;
                        border-style: solid;
                        color: #a2afbb;
                        font-size: larger;
                        td, th {
                            border-width: 2px;
                            border-color: #f4f7fa;
                            border-style: solid;
                            padding: 1em;
                            
                        }
                        .livre{
                            color: #92c898;
                        }
                        .Refuse{
                            color: red;
                        }
                        .Retourne{
                            color: red;
                        }
                        
                        thead {
                        background-color: #ffffff;
    
                        }
                    }
                }

                .Facture {
                    background-color: #f5f5fd;
                    border-radius: 10px;
                    width: 90%;
                    margin-top: 1em;
                    margin-left: 4em;
                    padding-bottom: 1em;
                    .newAnn{
                        line-height: 3;
                        h1{
                            font-size: 1.6rem;
                        }
                        p{
                            padding-bottom: 2rem;
                            font-size: 1.4rem;
                        }
                    }
                    div{
                        background-color: white;
                        border-radius: 10px;
                        margin-bottom: 1em;
                        padding: 1em;
                    }
                    h1{
                        color: #483b79;
                    }
                    p{
                        color:#999999;
                    }
                    .facteurTable{
                        width: 95%;
                        padding: auto;
                        margin: auto;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-width: 2px;
                        border-color: #f4f7fa;
                        border-style: solid;
                        color: #a2afbb;
                        font-size: larger;
                        .firstLine{
                            background-color: #f3f7fa;
                        }
                        td, th {
                            border-width: 2px;
                            border-color: #f4f7fa;
                            border-style: solid;
                            padding: 1em
                        }
                        
                        thead {
                        background-color: #ffffff;
    
                        }
                    }
                }
            }
            
            
        }
    }
}