body{
    background-color: white;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb {
    background: #f8c419;
}

.container{
    display: grid;
    grid-template-columns: 6fr 1.3fr;
    &__left{
        display: flex;
        &-menu{
            // height: 100vh;
            height: 100%;
            top: 0;
            width: 10rem;
            position: fixed;
            background-color: #fff;
            transition: width 600ms ease;
            @include responsive(tab-land) { // width < 1200?
                width: 5rem;
                // height: 110vh;
            }
            
            @include responsive(tab-port) { // width < 900?
                display: none;
            }
            // @include custom_media(1050) {
            //     @media screen and (max-width: (1050 / 16)*1em) { 
            //         height: 115vh;
            //      };
            // }
            // @include custom_media(1010) {
            //     @media screen and (max-width: (1010 / 16)*1em) { 
            //         height: 120vh;
            //      };
            // }
            &:hover{
                width: 16rem;
                .navbar-nav{
                    .nav-item{
                        .link-text {
                            display: block;
                        }
                    }
                }
            }
            .navbar-nav{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                height: 100%;
                .line{
                    background-color: #d2cbed;
                    border: none;
                    height: 1px;
                    width: 60%;
                    margin: 0rem auto 4rem auto;    
                }
                .logo {
                    // font-weight: bold;
                    // text-transform: uppercase;
                    // margin-bottom: 1rem;
                    // text-align: center;
                    // color: #ececec;
                    // background: #f8c419;
                    // font-size: 1.5rem;
                    // letter-spacing: 0.3ch;
                        .nav-link{
                            .logoForce{
                                width: 90%;
                                margin: 4rem .5rem 2rem .5rem;
                                @include responsive(tab-land) { // width < 1200?
                                    margin: 4rem .3rem 2rem .3rem;
                                }
                            }
                        }
                        // svg {
                        //     transform: rotate(0deg);
                        //     transition: 600ms;
                            
                        // }
                        .logo-text
                        {
                          display: inline;
                          position: absolute;
                          left: -999px;
                          transition: 600ms;
                        }
                  }
                .nav-item{
                    margin: 0rem auto;
                    width: 100%;
                    padding-bottom: 1rem;
                    &:last-child {
                        margin-top: auto;
                    }
                    .nav-link{
                        display: flex;
                        align-items: center;
                        height: 5rem;
                        color: #b6b6b6;
                        text-decoration: none;
                        filter: grayscale(100%) opacity(0.7);
                        transition: 600ms;
                        &:hover{
                            filter: grayscale(0%) opacity(1);
                            background: #f8c419;
                            color: #ececec;
                        }
                        svg {
                            width: 2.5rem;
                            min-width: 2rem;
                            margin: 0 auto;
                            color: #866fd9;
                            .fa-primary {
                                color: #866fd9;
                            }
                            .fa-secondary {
                                color: #866fd9;
                            }
                            .fa-primary, .fa-secondary {
                                transition: 600ms;
                            }
                        }
                        i{
                            width: 2.5rem;
                            margin: auto;
                        }
                    }
                    .link-text {
                        display: none;
                        margin-left: 1rem;
                        font-size: 1.5rem;
                        color: #866fd9;
                        padding-right: 2rem;
                    }
                    
                }
            }
        }
        &-menuRespo{
            display: none;
            @include responsive(tab-port) { // width < 900?
                display: block;
            }
            @keyframes checked-anim {
                50% {
                    width: 3000px;
                    height: 3000px;
                }
                100% {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                }
            }
            @keyframes not-checked-anim {
                0% {
                    width: 3000px;
                    height: 3000px;
                }
            }
            li, a {
                margin: 75px 0 -55px 0;
                color: #03A9F4;
                font: 14pt "Roboto", sans-serif;
                font-weight: 700;
                line-height: 1.8;
                text-decoration: none;
                text-transform: none;
                list-style: none;
                outline: 0;
                display: none;
            }
            li {
                width: 230px;
                text-indent: 56px;}
            a:focus {
                display: block;
                color: #333;
                background-color: #eee;
                transition: all .5s;
            }
            
            
            #trigger, #burger, #burger:before, #burger:after {
                position: absolute;
                top: 10px;
                left: 6px;
                background: #f8c419;
                width: 30px;
                height: 5px;
                transition: .2s ease;
                cursor: pointer;
                z-index: 1;
            }
            #trigger {
                height: 25px;
                background: none;
            }
            #burger:before {
                content: " ";
                top: 10px;
                left: 0;
            }
            #burger:after {
                content: " ";
                top: 20px;
                left: 0;
            }
            #menu-toggle:checked + #trigger + #burger {
                top: 35px;
                transform: rotate(180deg);
                transition: transform .2s ease;
            }
            
            #menu-toggle:checked + #trigger + #burger:before {
                width: 20px;
                top: -2px;
                left: 18px;
                transform: rotate(45deg) translateX(-5px);
                transition: transform .2s ease;
            }
            #menu-toggle:checked + #trigger + #burger:after {
                width: 20px;
                top: 2px;
                left: 18px;
                transform: rotate(-45deg) translateX(-5px);
                transition: transform .2s ease;
            }
            #menu {
                position: absolute;
                margin: 0; padding: 0;
                width: 60px;
                height: 60px;
                background-color: #fff;
                border-bottom-right-radius: 100%;
                box-shadow: 0 2px 5px rgba(0,0,0,0.26);
                animation: not-checked-anim .2s both;
                transition: .2s;
            }
            #menu-toggle:checked + #trigger + #burger + #menu {
                animation: checked-anim 1s ease both;
            }
            #menu-toggle:checked + #trigger ~ #menu > li, a {
                display: block;
            }
            [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
                display: none;
            }   
            // @keyframes checked-anim {
            //     50% {
            //         width: 3000px;
            //         height: 3000px;
            //     }
            //     100% {
            //         width: 100%;
            //         height: 100%;
            //         border-radius: 0;
            //     }
            // }
            // @keyframes not-checked-anim {
            //     0% {
            //         width: 3000px;
            //         height: 3000px;
            //     }
            // }
            // #menu{
            //     li{
            //         margin: 75px 0 -55px 0;
            //         color: #03A9F4;
            //         font: 14pt "Roboto", sans-serif;
            //         font-weight: 700;
            //         line-height: 1.8;
            //         text-decoration: none;
            //         text-transform: none;
            //         list-style: none;
            //         outline: 0;
            //         display: none;
            //         width: 230px;
            //         text-indent: 56px;
            //         a{
            //             margin: 75px 0 -55px 0;
            //             color: #03A9F4;
            //             font: 14pt "Roboto", sans-serif;
            //             font-weight: 700;
            //             line-height: 1.8;
            //             text-decoration: none;
            //             text-transform: none;
            //             list-style: none;
            //             outline: 0;
            //             display: none;
            //             &:focus{
            //                 display: block;
            //                 color: #333;
            //                 background-color: #eee;
            //                 transition: all .5s;
            //             }
            //         }
            //     }
            // }
            // #trigger  {
            //     position: absolute;
            //     top: 25px;
            //     left: 25px;
            //     background: #03A9F4;
            //     width: 30px;
            //     height: 5px;
            //     transition: .2s ease;
            //     cursor: pointer;
            //     z-index: 1;
            //     height: 25px;
            //     background: none;
            // }
            // #burger{
            //     position: absolute;
            //     top: 25px;
            //     left: 25px;
            //     background: #03A9F4;
            //     width: 30px;
            //     height: 5px;
            //     transition: .2s ease;
            //     cursor: pointer;
            //     z-index: 1;
            //     &::before{
            //         content: " ";
            //         top: 10px;
            //         left: 0;
            //         position: absolute;
            //         top: 25px;
            //         left: 25px;
            //         background: #03A9F4;
            //         width: 30px;
            //         height: 5px;
            //         transition: .2s ease;
            //         cursor: pointer;
            //         z-index: 1;
            //     }
            //     &::after{
            //         content: " ";
            //         top: 20px;
            //         left: 0;
            //         position: absolute;
            //         top: 25px;
            //         left: 25px;
            //         background: #03A9F4;
            //         width: 30px;
            //         height: 5px;
            //         transition: .2s ease;
            //         cursor: pointer;
            //         z-index: 1;
            //     }
            // }
            // #menu-toggle{
            //     &:checked{
            //         top: 35px;
            //         transform: rotate(180deg);
            //         transition: transform .2s ease;
            //     }
            // }
        }
    }
}