body{
    background-color: white;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb {
    background: #f8c419;
}

.container{
    display: grid;
    grid-template-columns: 6fr 1.3fr;
    @include responsive(phone-1) { // width < 480?
        grid-template-columns: 6fr;
    }
    &__left{
        display: flex;
        &-menu{
            // height: 100vh;
            height: 100%;
            top: 0;
            width: 10rem;
            position: fixed;
            background-color: #fff;
            transition: width 600ms ease;
            @include responsive(tab-land) { // width < 1200?
                width: 5rem;
            }
            
            @include responsive(tab-port) { // width < 900?
                display: none;
            }
            &:hover{
                width: 16rem;
                .navbar-nav{
                    .nav-item{
                        .link-text {
                            display: block;
                        }
                    }
                }
            }
            .navbar-nav{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                height: 100%;
                .line{
                    background-color: #d2cbed;
                    border: none;
                    height: 1px;
                    width: 60%;
                    margin: 0rem auto 4rem auto;    
                }
                .logo {
                        .nav-link{
                            .logoForce{
                                width: 90%;
                                margin: 4rem .5rem 2rem .5rem;
                                @include responsive(tab-land) { // width < 1200?
                                    margin: 4rem .3rem 2rem .3rem;
                                }
                            }
                        }
                        .logo-text
                        {
                          display: inline;
                          position: absolute;
                          left: -999px;
                          transition: 600ms;
                        }
                  }
                .nav-item{
                    margin: 0rem auto;
                    width: 100%;
                    padding-bottom: 1rem;
                    &:last-child {
                        margin-top: auto;
                    }
                    .nav-link{
                        display: flex;
                        align-items: center;
                        height: 5rem;
                        color: #b6b6b6;
                        text-decoration: none;
                        filter: grayscale(100%) opacity(0.7);
                        transition: 600ms;
                        &:hover{
                            filter: grayscale(0%) opacity(1);
                            background: #f8c419;
                            color: #ececec;
                        }
                        svg {
                            width: 2.5rem;
                            min-width: 2rem;
                            margin: 0 auto;
                            color: #866fd9;
                            .fa-primary {
                                color: #866fd9;
                            }
                            .fa-secondary {
                                color: #866fd9;
                            }
                            .fa-primary, .fa-secondary {
                                transition: 600ms;
                            }
                        }
                        i{
                            width: 2.5rem;
                            margin: auto;
                        }
                    }
                    .link-text {
                        display: none;
                        margin-left: 1rem;
                        font-size: 1.5rem;
                        color: #866fd9;
                        padding-right: 2rem;
                    }
                    
                }
            }
        }
        &-menuRespo{
            display: none;
            @include responsive(tab-port) { // width < 900?
                display: block;
            }
            @keyframes checked-anim {
                50% {
                    width: 500px;
                    height: 1000px;
                }
                100% {
                    width: 50%;
                    height: 100%;
                    border-bottom-right-radius: 100%;
                }
            }
            @keyframes not-checked-anim {
                0% {
                    width: 3000px;
                    height: 3000px;
                }
            }
            li, a {
                text-align: center;
                margin: 75px 0 -55px 0;
                color: red;
                font: 14pt "Roboto", sans-serif;
                font-weight: 700;
                line-height: 1.8;
                text-decoration: none;
                text-transform: none;
                list-style: none;
                outline: 0;
                display: none;
                
                svg{
                    height: 3rem;
                    width: 2.5rem;
                    min-width: 2rem;
                    margin: 0 auto;
                    color: #866fd9;
                }
            }
            li {
                width: 21rem;
                text-indent: 56px;
                @include responsive(phone) { // width < 1200?
                    width: 18rem;
                    // text-indent: 56px;
                }
            }
            a:focus {
                display: block;
                color: #f8c419;
                background-color: #f8c419;
                transition: all .5s;
                
            }
            
            
            #trigger, #burger, #burger:before, #burger:after {
                position: absolute;
                top: 10px;
                left: 6px;
                background: #f8c419;
                width: 30px;
                height: 5px;
                transition: .2s ease;
                cursor: pointer;
                z-index: 1;
                @include responsive(phone-1) { // width < 480?
                    top: 5px;
                    left: 3px;
                }
                @include responsive(iphone-1) { // width < 320?
                    width: 20px;
                }
            }
            #trigger {
                height: 25px;
                background: none;
            }
            #burger:before {
                content: " ";
                top: 10px;
                left: 0;
                @include responsive(iphone-1) { // width < 320?
                    top: 6px;
                }
            }
            #burger:after {
                content: " ";
                top: 20px;
                left: 0;
                @include responsive(iphone-1) { // width < 320?
                    top: 12px;
                }
            }
            #menu-toggle:checked + #trigger + #burger {
                top: 35px;
                transform: rotate(180deg);
                transition: transform .2s ease;
            }
            
            #menu-toggle:checked + #trigger + #burger:before {
                width: 20px;
                top: -2px;
                left: 18px;
                transform: rotate(45deg) translateX(-5px);
                transition: transform .2s ease;
            }
            #menu-toggle:checked + #trigger + #burger:after {
                width: 20px;
                top: 2px;
                left: 18px;
                transform: rotate(-45deg) translateX(-5px);
                transition: transform .2s ease;
            }
            #menu {
                position: absolute;
                margin: 0; padding: 0;
                width: 60px;
                height: 60px;
                background-color: #fff;
                border-bottom-right-radius: 100%;
                box-shadow: 0 2px 5px rgba(0,0,0,0.26);
                animation: not-checked-anim .2s both;
                transition: .2s;
                @include responsive(phone-1) { // width < 480px?
                    width: 50px;
                    height: 50px;
                }
                @include responsive(iphone-1) { // width < 320?
                    width: 35px;
                    height: 35px;
                }
            }
            #menu-toggle:checked + #trigger + #burger + #menu {
                animation: checked-anim 1s ease both;
            }
            #menu-toggle:checked + #trigger ~ #menu > li, a {
                display: block;
            }
            [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
                display: none;
            }   
            
        }
    }
}