.container{
    &__right{
        text-align: center;
        &-notification{
            padding: 1rem;
            position: absolute;
            img{
                left: 24rem;
                width: 83%;
                position: relative;
                @include responsive(tab-land) { // width < 1200?
                    left: 18rem;
                }
                @include responsive(tab-port) { // width < 900?
                    left: 11rem;
                    width: 70%;
                }
                @include responsive(tab-land-1) { // width < 1024?
                    left: 11rem;
                    width: 80%;
                }
            }
        }
        
        &-profile{
            padding: 4rem;
            @include responsive(tab-land-1) { // width < 1200?
                padding: 4rem 2rem;
            }
            .photo{
                background-image: url("../images/profile.png");
                border-radius: 50%;
                width: 13rem;
                margin: 1rem auto;
                height: 13rem;
                background-size: cover;
                background-repeat: no-repeat;
                z-index: +1;
                border-left: 6px solid #e9e9ff;
                border-right: 6px solid #866fd9;
                border-top: 6px solid #866fd9;
                border-bottom: 6px solid #e9e9ff;
                @include responsive(tab-port) { // width < 900?
                    width: 10rem;
                    height: 10rem;
                }
            }
        h1{
            font-size: 2.5rem;
            @include responsive(tab-land) { // width < 1200?
                font-size: 2rem;
            }
            @include responsive(tab-port) { // width < 900?
                font-size: 1.8rem;
            }
        }
        p{
            font-size: 1.5rem;
            color: #868686;
            @include responsive(tab-land) { // width < 1200?
                font-size: 1rem;
            }
        }
        }

        &-earnings{
            margin: auto;
            width: 80%;
            .earningsInfo{
                padding: 2rem 0rem;
                .line{
                    background-color: #d2cbed;
                    border: none;
                    height: 1px;
                    width: 90%;
                    margin: 0rem auto;
                }
                .gainColis{
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
                    @include responsive(tab-land-1) { // width < 1200?
                        display: block;
                    }
                    .fas{
                        margin-right: 1rem;
                        border-radius: 5px;
                        padding: .8rem 1rem;
                        color: #fff;
                        background-color: #866fd9;
                    }
                    .earningsDetails{
                        color: #868686;
                        font-size: 1.5rem;
                        padding-top: 1rem;
                        font-weight: 400;
                    }
                }
            }
            .payemTotal{
                width: 100%;
                background-color: #866fd9;
                border-radius: 10px;
                color: #fff;
                line-height: 1.4;
                padding: 1.3rem 0rem;
                margin: 1.5rem auto;
                p{
                    font-size: 1.3rem;
                    font-weight: 400;
                    @include responsive(tab-port) { // width < 900?
                        font-size: 1rem;
                    }
                }
                h1{
                    font-weight: 300;
                    @include responsive(tab-port) { // width < 900?
                        font-size: 1.8rem;
                    }
                }
            }
            .infoDernierPay{
                color: #868686;
                font-size: 1.2rem;
                font-weight: 400;
                @include responsive(tab-port) { // width < 900?
                    font-size: 1rem;
                }
            }
        }

        &-help{
            margin: auto;
            width: 80%;
            padding-top: 10rem;
            img{
                padding-bottom: 2rem; 
                width: 60%;
                @include responsive(tab-port) { // width < 900?
                    width: 80%;
                }
            }
            p{
                color: #868686;
                font-size: 1.2rem;
                @include responsive(tab-port) { // width < 900?
                    font-size: 1rem;
                }
            }
            h2{
                font-size: 2rem;
                @include responsive(tab-port) { // width < 900?
                    font-size: 1.8rem;
                }
            }
        }
        // .profileInfo:last-child{
        //     margin-top: auto;
        // }
    }
}