//colors
$color-white: #fff;
$color-black: #000;
$color-lighter-white: #f5f5fd;
$primary-title: #483b79;
$date-color: #868686;

$primary: #866fd9;
// $primary-variant: #9CD7F4;

// $secondary: #E8507B;
// $secondary-variant:#F56E96;

// $tertiary: #3147FF;
// $tertiary-variant: #7403FF;


$icon-color: #d2cbed;


$chart-yellow: #f8c419;
// $design-purple: #676099;

// $light-yellow: #F8EBD9;
// $lighter-yellow: #F8EBDE;

// $opacity:#F4F5F8;
// $background:#F5F4FF;
// $error:Red;
// $color-orchid: #2d3436;

// $color-primary: #55c57a;
// $color-secondary-dark: #ff7730;

$shadow-color: #ded9ff;
// $color-text-dark: #3c4858;
$light-gray: #E9ECF3;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #F0F0F0;

$color-grey-dark: #c2b1bb;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//ANIMATIONS stuff
// $hover: all 0.2s ease-in;
// $slide: all 0.3s cubic-bezier(.55,0,.1,1);
// $slide-delay: all 0.4s 0.1s  cubic-bezier(.55,0,.1,1);
// $slide-slow: all 0.5s  cubic-bezier(.55,0,.1,1);
// $zoom: all 1s cubic-bezier(.55,0,.1,1);
// $zoom-slow: all 2.4s cubic-bezier(.55,0,.1,1);
// $default-shadow: 0px 10px 43px rgba(39, 47, 99, 0.08);
// $Second-shadow: 0 1rem 3.5rem 0 rgba($color-black,.1);
// $third-shadow: 0 .6rem 1.7rem 0 rgba($shadow-color, .3);
// $fourth-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
// $default-transition:  all 0.5s ease;




//layout vars
// $default-padding: 3rem;
// $default-font-size: 1.6rem;
// $medium-font-size: 3rem;
// $small-font-size: 2rem;

// $font-size-4: 4rem;
// $font-size-3: 3rem;
// $font-size-5: 5rem;

// $regular-font-weight: 400;
// $light-font-weight: 300;
// $medium-font-weight: 500;

//video ratio
// $videoratio: 30rem