.navigation-alt {
    padding: 5rem 10rem;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-items: center;
    justify-items: center;
    font-family: 'Nunito', 'Poppins', sans-serif;
    font-size: 1.6rem;

    @include responsive(small-desktop) {
        justify-items: start;
        padding: 5rem;
    }

    @include responsive(tab-land) {
        grid-template-columns: 1fr 2fr;

    }

    // &__logo-box{}
    &__logo {
        width: 15rem;
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 9px;

        @include responsive(tab-land) {
            display: none;
        }
        .fa-angle-down{
            font-size: 12px !important;
        }
    }

    &__link {

        &:link,
        &:visited {
            font-weight: 400;
            color: $primary-variant;
            text-decoration: none;
            transition: all .4s;
            cursor: pointer;

        }
    }

    &__item {
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 3rem;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 0;
            position: absolute;
            bottom: 0;
            border-bottom: 1px solid $secondary-variant;
            transition: $hover;
            z-index: 2;
        }

        //dropdown style
        &-sub {

            min-width: 13rem;
            left: -3px;
            position: absolute;
            top: 115%;
            right: auto;
            z-index: 9999;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            visibility: hidden;
            padding: 10px 0;
            background-color: #fff;
            -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .03);
            box-shadow: 0 4px 30px rgba(0, 0, 0, .03);
            text-align: left;
            opacity: 0;
            -webkit-transition: all .25s cubic-bezier(.32, .74, .57, 1);
            -moz-transition: all .25s cubic-bezier(.32, .74, .57, 1);
            -ms-transition: all .25s cubic-bezier(.32, .74, .57, 1);
            -o-transition: all .25s cubic-bezier(.32, .74, .57, 1);
            transition: all .25s cubic-bezier(.32, .74, .57, 1);
            pointer-events: none;
            
            &::before {
                position: absolute;
                top: -9px;
                right: auto;
                bottom: auto;
                left: 6.6rem;
                display: block;
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-bottom: 10px solid currentColor;
                border-left: 10px solid transparent;
                box-shadow: 0 4px 30px rgba(0, 0, 0, .03);

                color: #fff;
                content: '';
                pointer-events: none;
            }


            &>li {
                width: max-content;
                &>a {
                    display: flex;
                    display: -webkit-flex;
                    padding: 10px 20px;
                    vertical-align: middle;
                    white-space: nowrap;
                    font-size: 13px;
                    line-height: 1;
                    flex-grow: 1;
                    align-items: center;
                }
            }
        }

        &:hover {
            &::before {
                width: 100%;
            }

            &>.navigation-alt__item-sub {
                top: 100%;
                bottom: auto;
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }



        // &:last-child{
        //     margin-left: 5rem;
        // }
    }

    &__subscribe {
        position: relative;

        @include responsive(phone) {
            display: none;
        }


    }

    &__search-icon {
        position: absolute;
        top: 1.5rem;
        left: -5rem;
        width: 2rem;
    }

    // &__subscribe-form {

    // }

    &__subscribe-input {
        height: 5rem;
        align-self: center;
        padding: 2rem;
        text-transform: uppercase;
        color: $primary-variant;
        border: 1px solid $primary-variant;
        border-radius: .5rem;
        width: 20rem;
    }
}