.header{
    padding: 20rem 0 15rem 0;
    overflow: hidden;
    position: relative;
    top: -9rem;
    @include custom_media(536){
        top: -10rem;
    }

    @include responsive(phone-1){
        top: -12rem;
        padding: 20rem 0 0;

    }
    &::before{
        content: '';
        background: url('../images/shap.png') no-repeat scroll top right;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        @include responsive(phone-1){
            height: 100%;
        }
    }
    &__container{
        margin: 0 auto;
        max-width: 120rem;
        &-row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include responsive(tab-land){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 2fr;
            }
            @include responsive(phone-1){
                grid-template-rows: 1fr 74em;
            }
            @include custom_media(1116){
                grid-template-rows: 1fr 53rem;
            }
        }
        &-content{
            grid-area: 1 / 1 / 2 / 2;
            @include responsive(tab-land){
                grid-area: 1 / 1 / 2 / 3;
                text-align: center;
                width: 60VW;
                margin: 0 auto;
            }

            @include responsive(tab-port-1){
                width: 80vw;
            }
            &-topdescription{
                font-size: 2.2rem;
                color: $secondary-variant;

            }
            &-title{
                font-size: 4rem;
                font-weight: 700;
                color: $primary-title;
                line-height: 1.3;
                margin: 0 0 2rem 0;
            }
            &-price{
                font-size: 5rem;
                color: $primary;
                text-transform: uppercase;
                &--text{
                    font-weight: 300;
                }
                // &--num{
                    
                // }
            }
            &-bottomdescription{
                @include subtitle-font;
                margin-bottom: 5rem;
            }
        }
        &-product{
            grid-area: 1 / 2 / 2 / 3;
            position: relative;
            text-align: center;
            @include responsive(tab-land){
                grid-area: 2 / 1 / 3 / 3;
                padding: 12rem 0;
            }
            &-image{
                width: 72rem;
                transform: translate(7%, -13%);
                @include custom_media(1162){
                    transform: translate(7%,-17%);
                }
                // @include responsive(tab-port-1){
                //     transform: translate(7%,-29%);
                // }
                @include responsive(phone-1){
                    transform: translate(0%,-21%);
                    width: 55rem;
                }
                
            }
            &-circle{
                background: $design-yellow;
                width: 55rem;
                height: 55rem;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                @include responsive(tab-land){
                    transform:  translateX(-50%);
                    left: 50%;
                    top: 16%;
                }
                @include responsive(tab-port-1){
                    transform:  translate(-50%, 15%);
                    top: unset;
                }

                @include responsive(phone-1){
                    top: -1rem;
                    width: 45rem;
                    height: 45rem;
                }
            }
        }
    }

}

.round_shap {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    &--one{
        width: 6rem;
        height: 6rem;
        background: $design-purple;
        top: 20rem;
        left: 50%;
        @include responsive(tab-land){
            top: 12rem;
            left: 63%;
        }
    }
    &--two{
        width: 1.4rem;
        height: 1.4rem;
        background: $design-purple;
        right: 14rem;
        top: 28%;
        @include responsive(phone-1){
            right: 5rem;
            top: 20%;
        }
    }
    &--three{
        width: 40rem;
        height: 40rem;
        border: 6px solid #fff;
        top: -25rem;
        right: 36rem;
        
    }
    &--four{
        width: 50rem;
        height: 50rem;
        border: 6px solid #fff;
        right: -20rem;
        bottom: -15rem;
        @include custom_media(1160){
            bottom: 62rem;
        }
    }
    &--five{
        width: 3rem;
        height: 3rem;
        background: #f56e96;
        right: 10rem;
        bottom: 13rem;
        @include custom_media(1160){
            bottom: 86rem;
        }
    }
    &--six{
        width: 14rem;
        right: 18.8rem;
        bottom: 14.9rem;
        @include responsive(tab-land){
            bottom: 94.9rem;
        }

        @include responsive(phone-1){
            // right: 35.8rem;
            right: 40.8rem;
            bottom: 33.9rem;
        }
    }
    &--seven{
        width: 10rem;
        height: 10rem;
        background: #ffb801;
        right: -5rem;
        top: 50%;
    }
}